* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  width: 100%;
}

img {
  width: 100px;
  height: 100px;
}

.card {
  border: solid 1px black;
  width: 25%;
  max-height: 750px;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}

.head-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 5px;
  font-family: "Courier New", Courier, monospace;
}

.head-card > img,
.head-card i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #888;
  font-size: 18px;
}

.main-card {
  display: flex;
  flex-direction: column;
}

.card-img {
  margin: auto;
}

.card-img > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.card-info {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 20px;
  padding: 0 80px;
}

.card-info > span {
  font-size: 40px;
  font-weight: 100;
}

.card-info > p {
  font-weight: 700;
  font-size: 13px;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.card-btn {
  width: 200px;
  padding: 15px;
  display: inline-block;
  margin: 45px auto;
  background-color: #72b4f5;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  border-bottom: 1px rgb(51, 54, 65) solid;
  box-shadow: 5px;
  cursor: pointer;
  color: aliceblue;
  font-weight: 500;
}

.foot-card {
  display: flex;
}
.card-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.4%;
  height: 100px;
  background-color: #262c50;
  border-right: 5px #353a57 groove;
  font-size: 13px;
  color: #e6e3e3;
}
.card-stat:last-child {
  border-right: none;
}

.card-stat > img,
.card-stat i {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 20px;
  color: #a0aac8;
}
.small-elem {
  display: flex;
  flex-direction: column;
}
